body {
    text-align: center;
    background-color: #FFF59D;
}

div {
    margin-top: 15px;

}


img {
    width: 30%;
    height: 250px;
}

.image-section {
    display: flex;
    justify-content: center;

}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: darkorange;
}
